@import url('https://fonts.googleapis.com/css2?family=Nobile:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--red: #9b292d;
	--red-dark: #3d1516;
	--red-light: #CC0000;
	--white: #FFF;
	--grey1: #333;
	--grey2: #444;
	--grey3: #5F5E5E;
	--grey4: #EEE;
}

html {
	background-color: var(--red);
	font-family: "Nobile", sans-serif;
}

::-webkit-scrollbar {
	width: 10px;
	height: 8px;
}
::-webkit-scrollbar-track {
	background: #000;
}
::-webkit-scrollbar-thumb {
	background: var(--red-light);
	opacity: 1;
}

h1 {
	@apply text-4xl font-bold mb-3;
}

h2 {
	@apply text-2xl font-bold mb-3;
}

h3 {
	@apply text-lg font-bold mb-3;
}

.Container {
	@apply text-center md:mx-12;
}

.Logo {
	@apply w-full text-center p-3 mb-6 text-[#fff] block;
}

.Logo-img {
	@apply w-screen m-auto my-6;
	max-width: calc(100% - 10px);

}

@media (min-width: 768px) {
	.Logo-img {
		@apply max-w-2xl;
	}
}

.Menu {
	@apply text-[#fff] flex flex-col items-start justify-start overflow-hidden float-left;
	transition: width 0.5s ease-in-out;
	width: 60px;
}

.Menu p,
.Menu-linkRight {
	transition: opacity 1s ease-out 0.5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.Menu-link {
	@apply w-full text-center bg-[var(--red-dark)] hover:bg-[var(--grey2)] hover:scale-[98%] transition duration-300
	flex justify-between items-center;
	height: 60px;
}

.Menu-link--collection {
	@apply w-full text-center bg-[var(--grey1)] hover:bg-[var(--grey2)] hover:scale-[98%] transition duration-300;
}

.Menu-link--collection .Menu-linkLeft {
	@apply text-center;
	width: 35px;
}

.Menu-linkLeft {
	@apply mx-3 text-[35px] flex-none;
}

.Menu-linkRight {
	@apply text-[40px] hover:bg-[var(--grey3)] transition ease-in-out duration-300 rounded-full p-2 mr-2;
}

.Menu-subNav {
	@apply flex flex-col w-full;
}

.TicketIcon,
.TrophyIcon{
	position: relative;
}
.TicketIcon span,
.TrophyIcon span {
	color: var(--red-dark);
	position: absolute;
	top: 7px;
	left: 19px;
}
.TrophyIcon span {
	font-size: 11px;
	top: 4px;
	left: 22px;
}

/* Pages */
.Content {
	@apply text-[#fff];
	width: calc(100% - 60px);
	float: left;
	opacity: 0;
	transition: opacity 1s ease-out 0.5s, max-height 0.5s ease-in-out 0.5s;
	max-height: 0px;
}

.Home .Menu {
	@apply w-full items-center justify-center;
}

.Home .Menu p,
.Home .Menu-linkRight {
	opacity: 1;
	height: auto;
}

.Tickets .Content {
	opacity: 1;
	max-height: none;
}



.Social {
	@apply flex text-[var(--white)] text-xl gap-5 my-7 justify-center items-center clear-both pt-6;
}

.Social-icon {
	@apply hover:scale-110 hover:text-[var(--red-dark)] p-2 rounded;
	transition: all 0.3s ease-in-out;
}

.Social-icon:hover {
	background-color: var(--white);
}


/**
 * Ticketlab overrides
 */

.Tickets .TL_Buy {
	@apply text-left;
}

.Tickets .TL_Buy .Page {
	padding-top: 0;
}

.Tickets .TL_Buy .Products-dateRow,
.Tickets .TL_Buy .NumberInput .number-input__button,
.Tickets .TL_Buy .Basket-bottom {
	background-color: var(--red-dark);
}

.Tickets .TL_Buy .Progress-step {
	color: var(--white);
}

.Tickets .TL_Buy .Progress-step--active:before {
	background-color: var(--red-dark);
	border-color: #999;
}
.Tickets .TL_Buy .Progress-filler {
	background-color: var(--red-dark);
}

.Tickets .TL_Buy .Products-row,
.Tickets .ConfirmOrder form {
	background-color: var(--grey4);
}
.Tickets .ConfirmOrder form {
	@apply p-3;
}

.Tickets .TL_Buy .Button {
	background-color: var(--red);
}

.Tickets .Thanks {
	@apply text-[#fff];
}

.Tickets .TL_Buy .Form-inputError,
.Tickets .TL_Buy .Form-inputError a,
.Tickets .TL_Buy {
	background-color: var(--red);
	padding-bottom: 20px;
	color: var(--white);
}

.Tickets .TL_Buy .Products,
.Tickets .TL_Buy .Basket,
.Tickets .TL_Buy .ConfirmOrder
{
	color: var(--red-dark)
}

.ManU {
	@apply p-3;
	max-width: 100%;
	width: 200px;
	margin: auto;
}
